<ion-header>
  <ion-toolbar color="primary">
  <ion-title>Home</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="log-out" slot="start"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <h4>Location Feedback</h4>
    <!--<ion-icon slot="start" color="medium" name="map"></ion-icon>
    <ion-button  color="light" expand="full" (click)="goToFeedback()"   class = "button button-assertive ">View Feedback</ion-button>
    <br>
    <ion-button  color="light" expand="full" (click)="goToLocation()"   class = "button button-assertive ">Feedback Location</ion-button>-->
    <ng-container  class="list" *ngIf="!places">
      <ion-label>No Places</ion-label>
    </ng-container>
    <ng-container *ngIf="places">
    <ion-list *ngFor="let item of places ">
      <ion-label>{{item.name}}</ion-label>
      <br>
      <ion-label>Latitude:{{item.latitude}}</ion-label>
      <br>
      <ion-label>Longitude:{{item.longitude}}</ion-label>
      <br>
      <ion-label slot="end">Score:{{item.score}}</ion-label>
      <br>
      <ion-button (click)='approve()'>Approve</ion-button> 
      <ion-button (click)='reject(item.id)'>Reject</ion-button>
    </ion-list>
  </ng-container>
</ion-content>
  
