<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding="true">
  <ion-list>
      <ion-button expand="block"  (click)="sendSMS()"  round outline>Panic Alert</ion-button>
      <br>
      <ion-button expand="block"  (click)="callnumber()"  round outline>Panic Call</ion-button>
      <br>
    <ion-button expand="block" color="secondary" href="/tabs/tab2"  routerDirection="forward">Track</ion-button>
  </ion-list>
</ion-content>
