<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding="true">
  <ion-list>
      <ion-button expand="block"  color="danger" (click)="sendSMS()"  round outline>Panic Alert</ion-button>
      <br>
      <ion-button expand="block"  color="danger" (click)="callnumber()"  round outline>Panic Call</ion-button>
      <br>
    <ion-button expand="block" color="danger"(click)="navigatemap()" round outline>Navigate</ion-button>
  </ion-list>
</ion-content>
