<ion-header>
    <ion-toolbar color="primary">
      <ion-title>Login</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-list lines="none">
      <ion-item text-wrap>
        <ion-label position="floating" class="des">Username</ion-label>
        <ion-input type="text"  value =""[(ngModel)]="username"  ng-value=" "></ion-input>
      </ion-item>
      <ion-item text-wrap>
        <ion-label position="floating" class="des" ng-value=" ">Password</ion-label>
        <ion-input type="password"  value ="" [(ngModel)]="password" ></ion-input>
      </ion-item>
        <br>
      <ion-button expand="full" (click)="loging()">Login</ion-button>
      <br>
      <ion-item  href="/signup" >
        <ion-label>Register new user?</ion-label>
      </ion-item>
      
    </ion-list>
  </ion-content>
