<ion-header>
    <ion-toolbar color="primary">
    <ion-title>Home</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="logout()">
          <ion-icon name="log-out" slot="start"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content padding>
      <ion-icon slot="start" color="medium" name="map"></ion-icon>
      <ion-button  color="light" expand="full" (click)="goToLocation()" no-outLine>Feedback about Location</ion-button>
      <br>
      <ion-button  color="light" expand="full" (click)="manageContacts()" no-outLine>Manage Contacts</ion-button>
      <br>
      <ion-list>
        <ion-label class="sec"><ion-icon name="contact"></ion-icon> Emergency Contacts</ion-label>
        <ion-item>
          <ion-label>POLICE</ion-label>
          <ion-label>100</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>AMBULANCE</ion-label>
          <ion-label>102</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>WOMEN HELPLINE</ion-label>
            <ion-label>1091</ion-label>
        </ion-item>
         <ion-item>
            <ion-label>Domestic Abuse</ion-label>
            <ion-label>181</ion-label>
         </ion-item>
          <ion-item>
            <ion-label>Deputy Commissioner Of Police</ion-label>
            <ion-label>181</ion-label>
        </ion-item>
            
      </ion-list>
      <br>
      <div>
          <!--<ion-label class="sec"><ion-icon name="contact"></ion-icon> Emergency Contacts</ion-label>-->
          <h4><ion-icon  class ="sec"name="bookmark"></ion-icon>Safety Tips</h4>
            <ul>
              <li>
                  When you are walking on a road, keep your mobile phone handy but avoid using it. Being on the phone makes you less alert. 
              </li>
              <li>When you are travelling in an auto alone, make sure you share the auto number with someone in your family even if it’s during the day.</li>
              <li> If you have booked a cab, always share your coordinates with someone.   </li>
            </ul>

              
        </div>
  </ion-content>
